body {  }

#tippy-top {
	display: none;
	background: #212121;
	padding: 8px 0;

	ul {
		margin: 0;
		padding: 0;
		float: right;

		li {
			display: inline;
			margin-right: 16px;

			&last-child { margin-right: 0; }

			a {
				color: #b6b6b6;
				font-size: .75em;

				&:hover { color: #fff; }
			}
		}
	}
}

header {
	background: #fff;
	overflow: hidden;
	padding: 1.6rem 0;

	h1 {
		display: none;
	}

	#logo-img { max-width: 240px; float: left; margin-top: 6px; }

	nav {

		ul {
			margin: 0;
			padding: 0;
			float: right;

			li {
				list-style: none;
				display: inline-block;
				margin-right: 10px;

				&:last-child { margin-right: 0; }

				a {
					color: #303f9f;
					display: inline-block;
					padding: 8px 16px;
					transition: all .25s ease-in-out;

					&:hover { background: #303f9f; color: #fff; }
				}
			}
		}
	}
}

#home-slide {
	background:
		linear-gradient(rgba(48,63,159,.7), rgba(48,63,159,.7)),
		url(../img/bg-providers.jpg) center center no-repeat;
		background-size: cover;
		padding: 80px 0;

		ul {
			margin: 0;
			padding: 0;

			li { list-style: none; }
		}

		h1 { color: #fff; padding-bottom: 6px; margin-bottom: 10px; }

		hr { margin: 0 0 1.4em 0; padding: 0; width: 18%; background: #ffc107; height: 10px; border: 0; }

		p {
			color: #fff;
			font-size: 2em;
			max-width: 60%;

			&:last-child { margin-bottom: 0; }
		}

		.hero-controls { position: absolute; top: 50%; transform: translateY(-50%); color: #fff; font-size: 4em; }
		#hero-prev { left: 50%; margin-left: -600px; }
		#hero-next { right: 50%; margin-right: -600px; }

		.button { background: #ffc107; color: #212121; text-transform: uppercase; font-weight: 700; color: #fff; text-shadow: 1px 1px 1px rgba(0,0,0,.7); }
}

#client-types {
	clear: both;
	background: #fff;
	padding: 80px 0;

	.row:first-child {
		text-align: center;
		margin-bottom: 3rem;

		h2 { text-transform: uppercase; }
		p { font-size: .875em; }
	}

	.row:nth-child(2) .large-3 {
		text-align: center;

		span.fa-stack {
			margin-bottom: 2.4rem;
			color: #303f9f;
		}

		p {
			font-size: .875rem;

			&:last-child { margin-bottom: 0; }

			.button { background: #3f51b5 }
		}
	}
}


#additional-info {
	background: #f1f1f1;
	padding: 80px;

	> .row:first-child {
		text-align: center;

		p { font-size: .875em; margin-bottom: 3em; }
	}

	.tab-title {  }
	.tab-title.active { font-weight: bold; }

	.tabs-content { background: #fff; }

	.tabs-content .content {
		padding: 1em;

		img { max-width: 300px; margin: 0 0 1em 1em; }

		& p:last-child { margin-bottom: 0; }
	}
}

footer {
	padding: 2rem 0;
	background: #212121;

	ul {
		font-size: 12px;
		color: #fff;

		li {
			list-style: none;

			a {
				color: #fff;

				&:hover { color: #c5cae9; }
			}
		}
	}

	#copyright {
		border-top: 1px solid #b6b6b6;
		color: #fff;
		padding-top: 1rem;

		p { font-size: 12px; }
	}
}
