@import 'bourbon';

@media screen and (max-width: 640px){

	#overlay ul li a { font-size: rem-calc(20px); }
	#tagline { display: none; }
	#hero { animation-name: none; background-size: cover; }

	#homepage-content {
		padding: 2rem 0 0 0;
		h2 { font-size: rem-calc(24px); margin-bottom: 1rem; }
		.shrink img { max-width: 200px; opacity: .6; }
		.customer-type { text-align: center; }
	}

	footer { font-size: rem-calc(12px); }

	// video layout

	#video-hero {
		height: auto;
		background: rgba(0,0,0,.65);

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: .4;
			z-index: -1;
			background: url('../media/poster.jpg') no-repeat center center;
			background-size: cover;
		}

		aside {
			top: auto;
			@include transform(translateY(0));

			hgroup {
				margin: 1rem 0;
				padding: 0;

				h1 { font-size: rem-calc(48px); font-weight: 300; line-height: 1; }
				h2 { font-size: rem-calc(24px); font-weight: 300; }
			}

			p {
				font-size: rem-calc(16px);

				&:last-child { margin-bottom: 1.6rem; }

				a { font-size: rem-calc(16px); }
			}
		}

		video { display: none; }
	}


}

@media screen and (min-width: 641px) {

	#homepage-content .shrink { flex: 0 0 auto !important; }

}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

	#video-hero aside hgroup h1 { font-size: rem-calc(72px); }
	#video-hero aside hgroup h2 { font-size: rem-calc(48px); }

}
