.nav-toggle {
	display: inline-block;
	margin-top: 6px;
	color: #000;
	z-index: 9000;
	font-weight: bold;
	font-size: .85rem;
	text-transform: uppercase;
	text-decoration: none;
	@include transition(all 250ms ease-in-out);

	&:hover { @include transform(scale(1.06)); }

	span { display: inline-block; }
}

.show-nav header .nav-toggle { display: none; }

#overlay {
	background: rgba(0,0,0,0);
	position: fixed;
	overflow: hidden;
	display: block;
	top: 0;
	z-index: -1;
	width: 100vw;
	height: 100vh;
	@include transform(translate3d(0, 0, 0));
	@include transition(all 500ms ease);

	ul {
		position: absolute;
		left: 0%;
		width: 100%;
		top: 50%;
		@include transform(translateY(-50%));

		li {
			text-align: center;
			list-style: none;

			a {
				display: block;
				text-decoration: none !important;
				line-height: 2;
				font-size: 50px;
				font-weight: 300;
				color: #fff;
				opacity: 0;
				border: none;
				@include transition(all 250ms ease);
				@include transform(scale(0.3));

			    &:visited { color: #fff; }

			    &:hover {
				    background: $primary-color;
			    }
			}

			&:nth-child(1) a {
				@include transition-delay(0);
			}

			&:nth-child(2) a {
				@include transition-delay(0.025s);
			}

			&:nth-child(3) a {
				@include transition-delay(0.050s);
			}

			&:nth-child(4) a {
				@include transition-delay(0.075s);
			}

			&:nth-child(5) a {
				@include transition-delay(0.1s);
			}

			&:nth-child(6) a {
				@include transition-delay(0.125s);
			}
		}
	}

	.nav-toggle {
		color: #fff;
		position: fixed;
		font-size: rem-calc(64px);
		top: 0;
		right: 20px;
		z-index: 9000;
		line-height: 1;
		font-weight: 300;
	}
}

.show-nav #overlay {
	background: rgba(17,17,17,.9);
	z-index: 10;

	ul li a {
		opacity: 1;
		@include transform(scale(1));
	}
}
