@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'bourbon';

@include foundation-global-styles;
// @include foundation-grid;
@include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

@import "../bower_components/animate.css/animate.min.css";

// Start of human code!

body { background: #fff; }

header {
	padding: 2em 0;

	img { width: 100%; max-width: 270px; }
}

#offCanvas { height: 200vh; }

nav[role="main"] {

	ul {
		margin: 3rem 0 0 0;

		li {
			list-style: none;
			font-size: rem-calc(24px);
			font-weight: 300;
			margin-bottom: rem-calc(20px);
			&:last-child { margin-bottom: 0; }

			a {
				color: #fff;
				display: block;
				padding-left: 2rem;
				@include transition(color 500ms ease);

				&:hover { color: scale-color(#fff, $lightness: -50%); }
			}

			&.separator { border-bottom: 1px solid #404040; height: 1px; margin-left: 2rem; margin-right: 2rem; }

			&.secondary {
				font-size: rem-calc(16px);
				margin-bottom: rem-calc(12px);
			}
		}
	}
}

#tagline {
	padding: 2rem 0;
	background: $primary-color;

	p {
		color: #fff;
		font-size: rem-calc(60px);
		font-weight: 300;
		margin-bottom: 0;

		&:first-child { font-size: rem-calc(36px); line-height: 1.2; }
	}
}

#video-hero {
	position: relative;
	overflow: hidden;
	height: 90vh;
	background: #333;

	.nav-toggle { color: #fff; }

	header { position: relative; z-index: 10; }

	aside {
		position: relative;
		top: 40%;
		z-index: 10;
		@include transform(translateY(-50%));

		hgroup {
			margin: 0 0 1rem 0;
			padding: 0;

			h1 { font-weight: 100; font-size: rem-calc(120px); color: #fff; margin: 0; padding: 0; line-height: 1; }
			h2 { font-weight: 100; font-size: rem-calc(76px); color: #fff; margin: 0; padding: 0; line-height: 1.1; }
		}

		p {
			font-size: 1.2rem;
			color: #fff;
			font-weight: 300;
			margin-bottom: 1.6rem;

			&:last-child { margin-bottom: 0; }

			a {
				background: none;
				color: #fff;
				border: 1px solid #fff;
				box-shadow: none;
				text-shadow: none;
				font-weight: 300;
				@include transition(background 500ms ease);

				&:hover { background: rgba(255,255,255,.25); }
			}
		}
	}

	video {
		opacity: .3;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		min-width: 100%;
		min-height: 100%;
		z-index: 0;
	}
}

#homepage-content {
	padding: 3rem 0 0 0;
	background: $primary-color;

	> .row { max-width: 980px; }

	h2 { color: #fff; font-size: rem-calc(36px); font-weight: 300; margin-bottom: 3rem; }

	h3 {
		color: #fff;
		font-weight: 300;
	}

	p { color: rgba(255,255,255,.5); margin-bottom: rem-calc(6px); }

	a { display: block; color: #fff; margin-bottom: 3rem; }

	.shrink img { max-width: 120px; opacity: .6; }

}

footer {
	padding: 2rem 0;
	background: #222;

	p { color: #fff; margin: 0; }
}

@import "media-queries";
